.webapp-pswrecovery-pg{
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #fffcdc);
    text-align: center;
   
}
.webapp-pswrecovery-pg-logo-sec{
    text-align: start;
    margin-bottom: 20px;
    padding-left: 50px;
}

.webapp-pswrecovery-pg-brand-img{
    height: 70px;
    width: 200px;
    margin-top: 20px;
}
.webapp-pswrecovery-pg-brand-logo{
    height: 300px;
    width: 350px;
    background-color: transparent;
}
.webapp-pswrecovery-pg-form-sec{    
    margin-top: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.webapp-pswrecovery-pg-recovery-text{
    color: #232323;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins;
    text-align: start;
}
.webapp-pswrecovery-pg-recovery-sub-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    margin-bottom: 20px;
    text-align: start;
}

.webapp-pswrecovery-pg-continue-btn{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #561f5b;
    border-radius: 12px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
}
.webapp-pswrecovery-pg-signin-text{
    font-family: Poppins;
    font-size: 18px;
    color: #969696;
    margin-top: 20px;
    text-align: center;
}
.webapp-pswrecovery-pg-span-text{
    color: #561f5b;
    font-weight: 600;
    margin-left: 10px;
}
.webapp-pswrecovery-pg-input-field{
    height: 40px;
    width: 100%;
    border-radius: 12px;
    /* margin-bottom: 10px; */
    padding-left: 20px;
    border: none;
    outline:1px solid #561f5b;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #232323;

}
.webapp-pswrecovery-pg-input-field:focus{
    border: 1px solid #561f5b;
}
::placeholder{
    color: #969696;
}
.webapp-pswrecovery-pg-input-field-container{
    width: 100%;
    margin-bottom: 20px;
    text-align: start;
}

.webapp-pswrecovery-pg-form-container{
    width: 25%;
    padding: 10px;
    /* border: 1px solid black; */
}

.webapp-pswrecovery-pg-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.webapp-pswrecovery-checkbox-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin-bottom: 20px;
}
.webapp-pswrecovery-pg-checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}
.webapp-pswrecovery-pg-checkbox{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.webapp-pswrecovery-pg-label{
    font-family: Poppins;
    font-size: 16px;
    color: #561f5b;
    font-weight: 500;
}


.webapp-pswrecovery-pg-link{
    text-decoration: none;
}
.webapp-pswrecovery-pg-link:hover{
    text-decoration: underline;
    color: #561f5b;
}
.webapp-pswrecovery-pg-verif-link{
    color: white;
    text-decoration: none;
}
.webapp-pswrecovery-pg-security-qs-field-container{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 20px;
    width: 100%;
   
    /* border: 1px solid blue; */
}
.webapp-pswrecovery-pg-qs-label{
    color: #561f5b;
    font-family: Poppins;
    font-size: 16px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
    
}
.webapp-pswrecovery-pg-qs-select{
    border-radius: 12px;
    height: 40px;
    border: none;
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    outline: 1px solid #561f5b;
    color: #561f5b;
    width: 100%;
}
.option{
    font-family: Poppins;
    font-size: 14px;
}

.recovery-pg-phoneno-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 10px;
    /* border: 1px solid blue; */
}
.phoneno-err{
    /* border: 1px solid blue; */
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 20px;

}
.PhoneInput{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    /* border: 1px solid rgb(3, 3, 20); */
}
#webapp-recovery-pg-phone-field{
    height: 40px;
    border-radius: 12px;
    border:none;
    outline: 1px solid #561f5b;
    color: #561f5b;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    width: 98%;
    flex: none;
    border: 1px solid blue;
}

.PhoneInputCountryIcon{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}
.PhoneInputCountryIconImg{
    height: 28px;
    width: 50px;
    border: none;
    outline: none;
    margin-top: -6px;
    box-shadow: none;
}
.PhoneInputCountrySelectArrow{
    height: 12px;
    width: 12px;
    opacity: none;
    border-color: #561f5b;
    border-bottom-width:2px;
    border-right-width:2px;
    margin-left: 40px;
    opacity:1;
}
.webapp-pswrecovery-pg-err{
    color: red;
    font-family: Poppins;
    font-size: 14px;
    margin-left: 10px;
}
